<tr>
  <td><img src="{{model.image}}" class="img img-thumbnail"></td>
  <td>{{model.name}}</td>
  <td>{{model.description}}</td>
  <td>{{model.maker.name}}</td>
  <td>{{model.source}}</td>
  <td>
    <a href="#cheeses/{{model._id}}" class="btn btn-success editButton">View <i class="fa fa-eye"></i></a>
    <button data-id="{{model._id}}" class="btn btn-danger deleteCheeseButton">Delete <i class="fa fa-trash-o"></i></button>
  </td>
</tr>
