<tr>
  <td>{{model.name}}</td>
  <td>{{model.description}}</td>
  <td>{{model.maker.name}}</td>
  <td>{{model.source}}</td>
  <td>
    <a href="#cheese/{{model.id}}" height="60px" class="btn btn-success editButton">View <i class="fa fa-eye"></i></a>
  </td>
</tr>
